/*Zack Dalley, 12/17/2021*/
body{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt
}
h2{
    color: chocolate;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    color:royalblue;
}
.post-title{
    color:blue;
}
.title{
    height: 8cm;
}
.resumefont{
    color: black;
    font-size: 14pt;
    font-family:sans-serif;
}
.bigtext{
    color:chocolate;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24pt;
    font-weight:bold;
}
.embeddedvideo{
    margin-right:10%;
    margin-top: 2%;
}
.flex{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}
.alignright{
    margin-right:12cm;
}
.resume{
    margin-left: auto;
}
.picture1{
    margin-right: 10%;
}
.picture2{
    margin-left:5%;
}
.anchor{
    color:white;
    text-align: center;
}
.anchor2{
    color:black;
    margin-left:5%;
}
.picture3{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.align{
    margin-left: 5%
}
.center1{
    text-align:center
}